absl-py==0.9.0
asn1crypto==0.24.0
astor==0.8.1
backcall==0.2.0
cryptography==2.1.4
cycler==0.11.0
decorator==4.4.2
gast==0.2.2
google-pasta==0.1.8
grpcio==1.26.0
h5py==2.10.0
idna==2.6
imageio==2.15.0
ipython==7.16.3
ipython-genutils==0.2.0
jedi==0.17.2
Keras==2.3.1
Keras-Applications==1.0.8
Keras-Preprocessing==1.1.0
keras-radam==0.15.0
keyring==10.6.0
keyrings.alt==3.0
kiwisolver==1.3.1
Markdown==3.1.1
matplotlib==3.3.4
networkx==2.5.1
nibabel==3.2.2
numpy==1.18.1
opt-einsum==3.1.0
packaging==21.3
pandas==1.1.5
parso==0.7.1
pexpect==4.8.0
pickleshare==0.7.5
Pillow==8.4.0
prompt-toolkit==3.0.28
protobuf==3.11.2
ptyprocess==0.7.0
pycrypto==2.6.1
Pygments==2.11.2
PyGObject==3.26.1
pyparsing==3.0.7
python-apt==1.6.4
python-dateutil==2.8.2
pytz==2021.3
PyWavelets==1.1.1
pyxdg==0.25
PyYAML==6.0
scikit-image==0.17.2
scipy==1.5.4
SecretStorage==2.3.1
six==1.11.0
tensorboard==1.15.0
tensorflow-estimator==1.15.1
tensorflow-gpu==1.15.2
termcolor==1.1.0
tifffile==2020.9.3
traitlets==4.3.3
wcwidth==0.2.5
Werkzeug==0.16.1
wrapt==1.11.2
